@{
    ViewData["Title"] = "Ultra Compta";
}

<div class="text-center">
    <h1 class="display-4">Orders to process</h1>
    <ul style="list-style: none; margin-top:100px">
        <li><a asp-action="GenerateInvoice" asp-route-orderReference="GDE948" target="_blank">Order GDE948</a></li>
    </ul>
</div>
